/**
 * @name Neutron (Private Edition)
 * @version 9.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author xcruxiex
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/PrivTest
 * @website https://betterdiscord.app/theme/Neutron
 */

@import url("https://xcruxiex.github.io/themes/themes-cores/neutron8.css"); /* Core Import - DO NOT REMOVE */
@import url("https://xcruxiex.github.io/themes/core/badges.css"); /* Custom Badges */
@import url("https://xcruxiex.github.io/themes/core/settings-icons.css"); /* Setting Icons */
@import url("https://xcruxiex.github.io/themes/core/hljs.css"); /* Codeblocks */
@import url("https://xcruxiex.github.io/themes/core/custom-font.css"); /* Custom Font */
@import url("https://nyri4.github.io/Discolored/main.css"); /* Coloful SVGs */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Custom font import link (see fonts.google.com) */

:root {
  /* COLORS */
  --MainColor1: #36D1DC; /* Theme's color 1 */
  --AltColor2: #5B86E5; /* Theme's color 2 */

  /* CUSTOM FONT */
  --customFont: 'Open sans', sans-serif; /* Custom font, change the name in 'font name here', you must import the font first */
  --font-display: var(--customFont);

  /* HOME BUTTON */
  --homeIcon: url('https://imgur.com/eItxuAq.png');/* Home button image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --homeIconSize: cover;/* To cover the button, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */

  /* BACKGROUND */
  --bgColor: #0d0d0d; /* Background color */
  --bgImage: url('https://imgur.com/qhBghXt.png'); /* Backround image, must be a direct link | You can also set it to a gradient, google "css gradient"*/
  --bgPosition: center; /* Image position | center, left, right, bottom, top */
  --bgSize: cover; /* To cover the entire app, set to "cover". You can also set it to "100% 100%" but the image will be stretched. Set to "contain" to see the entire image */
  --bgRepeat: no-repeat; /* if you want the image to repeat | Google "css background repeat" */
  --bgBlur: 100px; /* Set to 0 to remove blur | Set to 10px for average blur */
  --bgOpacity: .65; /* 0 is transparent */

  /* CODE BLOCKS */
  --bgCode: rgba(0,0,0,.5);
  --bgName: rgba(0,0,0,.5);
}