root:{
    --bgColor1: #1e2731;
    --bgColor2: #12171d;
    --mainColor: #2275c9;
    --gradientColor01: #00f260;
    --gradientColor02: #0575e6;
    --backgroundCode: var(--bgColor1);
    --backgroundName: rgba(0, 0, 0, 0.2);
    --rs-small-spacing: 2px;
    --rs-medium-spacing: 3px;
    --rs-large-spacing: 4px;
    --rs-small-width: 2px;
    --rs-medium-width: 3px;
    --rs-large-width: 4px;
    --rs-width: 2px;
    --rs-avatar-shape: 50%;
    --rs-online-color: #43b581;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #643da7;
    --rs-invisible-color: #747f8d;
    --rs-phone-visible: block;
    --rs-phone-color: var(--rs-online-color);
    --background-primary: var(--bgColor2);
    --background-secondary: var(--bgColor2) !important;
    --background-tertiary: var(--bgColor2);
    --bg-overlay-3: var(--bgColor2);
    --bg-overlay-1: var(--bgColor2);
    --bg-overlay-selected: var(--bgColor1);
    --background-secondary-alt: var(--bgColor2);
    --bg-overlay-hover: var(--bgColor1);
    --background-modifier-selected: var(--bgColor1);
    --channels-default: #2275c9;
    --interactive-normal: #2275c9;
    --channel-icon: var(--mainColor);
    --input-background: var(--bgColor1);
    --brand-500: var(--mainColor);
    --brand-530: var(--mainColor);
}
