@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://xcruxiex.github.io/themes/core/settings-icons.css");
@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://xcruxiex.github.io/themes/core/hljs.css");

/*channel names */
.name_d8bfb3{
    color: #fff;
}
.modeMuted_d8bfb3 .icon_d8bfb3{
    color: var(--mainColor);
}
.wrapper_d8bfb3:active .link_d8bfb3{
    background-color: var(--bgColor1);
}
/*Settings text*/
.themed_a0.item_a0, .brand_a0.item_a0{
    color: #fff;
}
/*BD settings header*/
.bd-sidebar-header h2{
    color: var(--mainColor);
}
/*Dms name colors*/
.nameAndDecorators_f9647d, .subText_f9647d{
    color: #fff;
}
/*moon home button*/
#app-mount .childWrapper_f90abb {
    background-color: var(--bgColor1) !important
}
#app-mount .presets_df4d02>.appIconSelectionContainer_e2863f:first-child img,
#app-mount .tutorialContainer_f9623d .childWrapper_f90abb>svg {
    display: none !important;
}
#app-mount .presets_df4d02>.appIconSelectionContainer_e2863f:first-child>.appIconSelection_e2863f,
#app-mount .tutorialContainer_f9623d .childWrapper_f90abb:has(svg)::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    top: 6px;
    left: 6px;
    background-image: linear-gradient(-45deg, var(--gradientColor01), var(--gradientColor02));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-mask-box-image: url("https://i.imgur.com/6gPQfIO.png");
}
/*members list icon staying maincolor*/
.selected_e44302 .icon_e44302{
    color: var(--mainColor);
}
/*inbox*/
.header_f0cd33.expanded_f0cd33{
    background-color: var(--bgColor1);
}
.topPill_a0 .themed_a0.selected_a0.item_a0, .side_a0 .themed_a0.selected_a0.item_a0{
    background-color: var(--bgColor2);
}
.container_b0914a,.container_b95f0d,.container_f1c3d9,.container_f8a938{
    background-color: var(--bgColor1);
}
.topPill_a0 .themed_a0.item_a0:hover:not(.disabled_a0), .side_a0 .themed_a0.item_a0:hover:not(.disabled_a0){
    background-color: var(--bgColor1);
}
.friendRequestsButton_c0c071,.secondary_e258f5{
    background-color: var(--bgColor1) !important;
}
/*bd editor titlebar*/
.floating-window-titlebar,.floating-window #bd-editor-controls{
    background-color: #000;
}
/*tooltips*/
.tooltipPrimary_b6c360 {
	background: var(--bgColor1);
}
/*gif place*/
.contentWrapper_af5dbb,.header_b56bbc,.wrapper_e06857,.inspector_c3120f,.wrapper_ba23fe{
    background-color: var(--bgColor1);
}
.inner_c18ec9,.navButtonActive_af5dbb,.container_effbe2,.categoryItemDefaultCategorySelected_dfa278, .categoryItemDefaultCategorySelected_dfa278:hover{
    background-color: var(--bgColor2);
}
.upsellContainer_a3bc57{
    background: var(--bgColor2);
}
.theme-dark .categoryFade_af1167, .theme-light .categoryFade_af1167{
    background: #2275c950;
}
/*pins*/
.messagesPopoutWrap_ac90a2,.header_ac90a2{
    background-color: var(--bgColor2) !important;
}
.messageGroupWrapper_ac90a2{
    background: var(--bgColor1);
}
/*my account tab*/
.accountProfileCard_b69b77,.background_b69b77,.fieldList_b69b77{
    background-color: var(--bgColor1);
}
/*settings stuff, whole lotta it cus I cba*/
.itemFilled_eb92a8:hover:not([aria-checked=true]):not(.disabled_eb92a8){
    background-color: var(--bgColor2);
}
.connection_e2a436,.connectionHeader_e2a436,.metadataContainer_e2a436{
    background-color: var(--bgColor1);
}
.bd-addon-list .bd-addon-header,.bd-description-wrap,.bd-addon-list .bd-footer{
    background-color: var(--bgColor1);
}
/*search thing*/
.button_ddc613,
.channelName-3w2Y3c,
.searchHeader_b7c924,
.searchResultsWrap_c2b47d {
    background-color: var(--bgColor2) !important
}
.searchResult_ddc613,
.tab_e864e6.selected-2LAck8 {
    background-color: var(--bgColor2) !important
}
.option_b0286e:hover{
    background-color: var(--bgColor1) !important
}
.resultsGroup_b0286e{
    background-color: var(--bgColor2) !important
}
/*friends thing*/
.root_f9a4c9{
    background-color: var(--bgColor2);
}
.theme-dark .friendSelected_ebf869{
    background-color: var(--bgColor1);
}
.input_f8bc55{
    background-color: var(--bgColor1);
}
/*right click settings on servers*/
.menu_d90b3d{
    background-color: var(--bgColor1);
}
.colorDefault_d90b3d.focused_d90b3d{
    background-color: var(--mainColor);
}
/*members list*/
.container_e9f61e,.activityText_a31c43{
    color: #fff;
}
/*server unread pill*/
.item_fd07a3{
    background-color: var(--mainColor);
}
/*unread thingy*/
#app-mount .unread_d8bfb3 {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    left: 4px;
    -webkit-transition: box-shadow .2s ease;
    -ms-transition: box-shadow .2s ease;
    -o-transition: box-shadow .2s ease;
    -moz-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    background-color: #ffffff00;
    z-index: 10;
    position: absolute
}
#app-mount .unread_d8bfb3:after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    border-radius: 100%;
    z-index: -2;
    animation: pulse 2s infinite;
    will-change: transform
}

#app-mount .unread_d8bfb3:hover:after {
    animation: none
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1
    }

    100% {
        transform: scale(2);
        opacity: 0
    }
}
.modeSelected_d8bfb3:hover .name_d8bfb3, .modeConnected_d8bfb3 .name_d8bfb3, .modeConnected_d8bfb3:hover .name_d8bfb3, .modeUnreadImportant_d8bfb3 .name_d8bfb3, .modeUnreadImportant_d8bfb3:hover .name_d8bfb3{
    color: var(--mainColor);
}
/*threads*/
.container_e664f3,.header_e664f3{
    background-color: var(--bgColor1);
}
/*inbox mentions*/
.channelHeader_f3978e {
    background-color: var(--bgColor2);
}
.messageContainer_ddb5b4 {
    background-color: var(--bgColor1);
}
.tertiary_e258f5 {
    background-color: var(--bgColor1);
}
/*search results*/
.container_ddc613 {
    background-color: var(--bgColor1);
}
/*edit profile in popout*/
.lookFilled_dd4f85.colorPrimary_dd4f85 {
    background-color: var(--bgColor2);
}
/*footers*/
.footer_ac90a2 {
    background-color: var(--bgColor2);
}
/*hover in emote menu*/
.theme-dark .card_ffe375:before {
    background-color: var(--bgColor1);
}
/*reply line*/
.repliedMessage_ec86aa:before {
    border-color: var(--mainColor);
}
.active_b385c8 {
    color: var(--mainColor);
}
/*friends tab header*/
.theme-dark .themed_e44302 {
    background-color: var(--bgColor2);
}
/*forums*/
.container_a6d69a {
    background-color: var(--bgColor2);
}
.container_c1668f {
    background-color: var(--bgColor1);
}
.mainCard_a6d69a {
    background-color: var(--bgColor1);
}
.container_d331f1:active {
    background-color: var(--bgColor2);
}
.defaultColor_e9e35f, .messageContent_d331f1, .text-sm\/normal_dc00ef {
    color: #fff !important;
}
/*EMBED LINK STUFF*/
[href*="youtu.be"], [href*="youtube.com"] {
    color: #EB3B46 !important;
    font-weight: 700
}
[href*="twitch.tv"] {
    color: #ba00db !important;
    font-weight: 700
}
[href*="spotify.com"] {
    color: #09de09 !important;
    font-weight: 700
}
[href*="discord.com/channels/"] {
    color: #4c00ff !important
}
[href*="discord.com/channels/"]::before {
    content: 'Jump to Message : ';
    font-size: 16px;
    font-weight: 700;
    color: #603cff
}
[href*="reddit.com"] {
    color: #ff6105 !important;
    font-weight: 700
}
[href*="instagram.com/"] {
    background: -webkit-linear-gradient(80deg, #fe0, #ff9d0b, #b700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700
}
[href*="twitter.com/"] {
    color: #00b7ff !important;
    font-weight: 700
}
[href*="betterdiscord.app/"], [href*="discord.gg/"] {
    color: #00fff7 !important;
    font-weight: 700
}
[href*="github.com"] {
    color: #03ffb3 !important;
    font-weight: 700
}
.embedFull_ad0b71 {
    border-color: var(--mainColor);
}
/*embeds in pinned messages*/
.embedFull_ad0b71{
    background-color: var(--bgColor1);
}
/*various backgrounds, events tab, member tab*/
.theme-dark .container_c2efea {
    background-color: var(--bgColor1);
}
.scroller_d20375 {
    background-color: var(--bgColor2);
}
.content_cc6017 {
    background-color: var(--bgColor2);
}
.footer_f9a4c9 {
    background-color: var(--bgColor2);
}
.selected_fd6364 .header_fd6364, .clickable_fd6364 .header_fd6364:hover {
    background-color: var(--bgColor1);
}
.messages_c06487{
    background-color: var(--bgColor1);
}
/*Profile color stuff*/
.theme-light .heading-lg\/bold_dc00ef {
    color: #000 !important;
}
.theme-light .text-sm\/normal_dc00ef {
    color: #000 !important;
}
.theme-light .nickname_c32acf.fullSize_c32acf {
    color: #000 !important;
}
.theme-light .text-xs\/semibold_dc00ef {
    color: #000 !important;
}
.iconItem_f6f816:hover .actionIcon_f6f816 {
    color: var(--mainColor);
}
/*Polls*/
.container_a1531c {
    background-color: var(--bgColor1);
    border: 2px solid var(--mainColor);
}
.votePercentageBar_cf2c85 {
    background-color: var(--bgColor2);
}
.answerInner_cf2c85 {
    background-color: var(--bgColor1);
    border: 2px solid var(--mainColor);
}